.form-container{
	width: 100%;
	padding: 0;
  margin: 0;
	.form-wrap {
  		display: flex;
  		flex-direction: column;
  		width: 30%;
  		padding: 0;
  		margin-left: 35%;
      z-index: 1;
      margin-top: 2%;
	}
}

.footer{
  text-align: center;
  width: 100%;
  margin-top: 100px;
  background-color: red;
}

@media only screen and (max-width: 960px){
  .form-container{
    width: 90%;
    padding: 0;
    text-align: center !important;
    }   
    .form-wrap {
      width: 100% !important;
      margin: 0px !important;
      margin-left: 5% !important;
    }
}
// .form-container > * {
//   width: 100%;
// }