<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="!(isHandset$ | async)">
  <mat-toolbar>
    <a routerLink="/Admin" mat-list-item>
      <img src="./assets/admin.png">
    </a>
    Menu
  </mat-toolbar>
  <mat-nav-list>
    <a style="font-weight: bold" routerLink="/" mat-list-item >Home</a>
    <a routerLink="/Form_833" mat-list-item>Service Request</a>
    <a routerLink="/Equip_Form" mat-list-item>Equipment Request</a>
  </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
  <mat-toolbar style="background-color: #5D8AA8">
    <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span style="color: white; font-weight: bold; font-size: 25px">188th Public Affairs Portal</span>
</mat-toolbar>
<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.name}}
  </li>
</ul>
  <router-outlet></router-outlet>
  <!-- Welcome logo -->
  <div class="splash_page ui-view">
    <div class="patch">
      <img width="45%" src="assets/188th.png">
    </div>
    <div class="notice">
      <h1>NOTICE</h1>
      <p>
        This system is not secured. Do not upload information considered FOR OFFICIAL USE ONLY (FOUO) or PERSONALLY IDENTIFIABLE INFORMATION (PII), which must be protected under the Freedom of Information Act (5 U.S.C. 552) and/or the Privacy Act of 1974 (5 U.S.C. 552a). Unauthorized disclosure or misuse of such information may result in disciplinary action, criminal and/or civil penalties.
      </p>
    </div>
  </div>
  <!-- Welcome logo -->
</mat-sidenav-content>
</mat-sidenav-container>




