.sidenav-container {
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.splash_page{
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 5%;
		}
	.patch{
		position: absolute;
		opacity: 0.5;
	}
	.notice{
		position: absolute;
		margin-left: 24%;
		margin-top: 15%;
		width: 50%;
		background-color: rgba(255,255,255, 0.7);
		border: 5px solid red;
		h1{
			color: red
		}
		p{
		}
}

@media only screen and (max-width: 960px) {
	.splash_page{
		position: absolute;
		width: 100% !important;
		text-align: center;
		.notice{
			position: absolute;
			margin: 0px !important;
			padding: 0px 10px 0px 10px;
			background-color: rgba(255,255,255, 0.9);
			border: 5px solid red;
			width: 93% !important;
			h1{
				color: red
			}
		}
		.patch{
			display: block;
			opacity: 1;
			z-index: 0;
			}
		}	
}