.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.backgroud_img{
	position: absolute;
	width: 100%;
	text-align: center;
	.notice{
		position: absolute;
		margin-left: 24%;
		margin-top: 10%;
		width: 50%;
		background-color: rgba(255,255,255, 0.9);
		border: 5px solid red;
		h1{
			color: red
		}
		p{
		}
	}
	.patch{
		display: block;
		// opacity: 0.5;
		z-index: 0;
	}
}

@media only screen and (max-width: 960px) {
	.backgroud_img{
		position: absolute;
		width: 100%;
		text-align: center;
		.notice{
			position: absolute;
			margin-left: 0;
			margin-top: 10%;
			padding: 0px 10px 0px 10px;
			width: 100%;
			background-color: rgba(255,255,255, 0.9);
			border: 5px solid red;
			h1{
				color: red
			}
			p{
				}
		}
		.patch{
			display: block;
			z-index: -1;
			opacity: 1;
			z-index: 0;
			}
		}	
}