<!-- <div class="backgroud_img">
    <div class="notice">
    <h1>NOTICE</h1>
    <p>
      This system is not secured. Do not upload information considered FOR OFFICIAL USE ONLY (FOUO) or PERSONALLY IDENTIFIABLE INFORMATION (PII), which must be protected under the Freedom of Information Act (5 U.S.C. 552) and/or the Privacy Act of 1974 (5 U.S.C. 552a). Unauthorized disclosure or misuse of such information may result in disciplinary action, criminal and/or civil penalties.
    </p>
  </div>
  <div class="patch">
    <img width="45%" src="assets/188th.png">
  </div>
</div> -->