<div class="backgroud_img">
    <div class="notice">
    <h1>NOTICE</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum, lectus vel molestie gravida, nisl lectus maximus mi, quis lobortis ipsum tellus non tortor. Ut vulputate pellentesque velit, eget ultricies neque accumsan vel. Sed viverra massa urna, vel sodales orci gravida sed. Sed cursus non lacus nec feugiat. Integer et consequat dolor. Mauris sit amet condimentum urna. Aliquam auctor sem ac leo vestibulum accumsan. Praesent arcu mi, eleifend eget efficitur suscipit, vehicula quis elit. Vivamus aliquam auctor ipsum in auctor. Nullam finibus eu lacus ut ornare. Sed vel nisl nec velit ullamcorper mollis vestibulum eget nunc. Aliquam id odio id libero pellentesque pellentesque. Nulla facilisi. Aenean ut mauris metus.
      <br>
      <br>
      Morbi semper scelerisque pharetra. Nullam euismod orci vel nibh faucibus, nec euismod lorem venenatis. Nunc eget malesuada justo. In non metus a eros convallis pharetra at non est. Proin sodales vulputate felis sed sollicitudin. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut vehicula ornare erat vel efficitur. Nullam consectetur ullamcorper magna a vestibulum. Suspendisse posuere pulvinar nibh, sed mattis massa commodo non. Suspendisse potenti. Donec id tortor tortor.
    </p>
  </div>
  <div class="patch">
    <img width="45%" src="assets/188th.png">
  </div>
</div>